<ul>
  <% @images.each do |image| %>
    <li><img src="<%= image['url'] %>"/>
    <form action="/favourites" method="post">
      <button class="my_button" type="submit">Favourite</button>
      <input type="hidden" name="image_id" value="<%=image['id']%>"></input>
    </form>
    </li>
  <% end %>
</ul>
